<head>
  <title>Bookmark Manager</title>
</head>

<body>
  <div>
    Here are your bookmarks:
  </div>
  <div>
    <ul>
      <% @list.each do |bookmark| %>
        <li>
          <a href=<%= "#{bookmark.url}" %>>
            <%= bookmark.title %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <a href='/bookmarks/new'><button type='button'>Add Bookmark</button></a>
  </div>
</body>
