<head>
  <title>Bookmark Manager</title>
</head>

<body>
  <div>
    Bookmark Manager
  </div>
  <div>
    <a href='/bookmarks/new'><button type='button'>Add Bookmark</button></a>
  </div>
  <div>
    <a href='/bookmarks'><button type='button'>View Bookmarks</button></a>
  </div>
</body>
