<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Manager</title>
  </head>

  <body>
    <h1>
      Bookmark Manager
    </h1>
    <div>
      <a href='/bookmarks/new'><button type='button'>Add Bookmark</button></a>
    </div>
    <div>
      <a href='/bookmarks'><button type='button'>View Bookmarks</button></a>
    </div>
  </body>
</html>
