<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookmark Manager</title>
  </head>

<body>
  <h1>Enter a new bookmark</h1>

  <div>
    <form action='/bookmarks' method='post'>
      <label for='url'>Enter website URL</label>
      <input type= 'text' name='url' placeholder='URL'>
      <label for='url'>Enter title</label>
      <input type='text' name='title' placeholder='Title'>
      <input type='submit' value='Submit'>
    </form>
  </div>
</body>
